:root{
  --color: #0070F3;
  --title-color: rgb(24, 24, 24);
  --text-color: #555;
}
*{
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.section{
  padding: 20px;
  margin-top: 40px;
}
.row:after{
  content: '';
  display: table;
  clear: both;
}
.col-2{
  float: left;
  width: 50%;
}
.col-3{
  float: left;
  width: 33.3333%;
}
.col-4{
  float: left;
  width: 25%;
}
a{
  text-decoration: none;
  color: var(--color);
  font-weight: 700;
}
a:hover{
 text-decoration: underline;
}
.blue-color{
  color: var(--color);
}
.btn{
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid rgba(150, 150, 150, 0.178);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: var(--text-color);
  font-size: 20px;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}
.btn:hover{
  transition: 0.5s all;
  color: var(--color);
  border: 1px solid var(--color);
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.header{
  font-size: 64px;
  padding: 20px;
  font-weight: 900;
}
.title{
  font-size: 24px;
  color: var(--title-color);
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 32px;
}
.text{
  font-size: 20px;
  color: var(--text-color);
  line-height: 30px;
}
.text-center{
  text-align: center;
}
.card{
  padding: 20px;
  margin: 16px;
  border: 1px solid rgba(150, 150, 150, 0.178);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.card:hover {
  border: 1px solid var(--color);
}
.card:hover *{
  color: var(--color);
}
.footer p {
  font-weight: 500;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid rgba(150, 150, 150, 0.178);
}
@media(max-width: 920px){
  .col-3{
    float: left;
    width: 50%;
  }
}
@media (max-width: 620px){
  .col-3{
    float: left;
    width: 100%;
  }
  .header{
    font-size: 50px;
  }
  .title{
    font-size: 20px;
  }
  .text{
    font-size: 17px;
  }

}
